/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

* {
  margin: 0;
  padding: 0;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background-image: url('/images/bgtile.png');*/
  background: rgb(55,96,133);
  background: linear-gradient(0deg, rgba(55,96,133,1) 0%, rgba(81,121,155,1) 100%);
  background-repeat: no-repeat;
  background-size: 100% 280px;
  margin-top: 90px ;


}


.body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.phones {
  height: 530px;
  margin-right: 50px;
}

.body-content {
  width: 440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}


.insta {
  height: 60px;
  margin: 0;
  padding:0%
}

.log-in-btn {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1c5380 ;
  border-radius: 3px;
  background: rgb(79,122,158);
  background: linear-gradient(0deg, rgba(79,122,158,1) 49%, rgba(110,146,176,1) 100%);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19)


}
.log-in-btn img{
  height: 1.5em;
  padding-right: 7%;
  margin: 0;
}
.log-in-btn h4{
  font-size: 0.85em;
  color: white;

}


.body-text {
  background-color: white;
  padding: 25px 25px 0px 25px;
  border-radius: 4px;
  background-image: url('/images/frame.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;


/* background-image: url('/images/frame.png'); */
}

h1 {
  font-size: 1.4em;
  color: #06365f;
  padding-bottom: 15px;
  
}

.body-text span {
  font-weight: 600;

}
/* hr {
  height:2px; 
  visibility:hidden; 
  margin-bottom:6px;} */


p {
  font-size: 0.91em;
  line-height: 1.8em;
  padding-bottom: 10px;

}



.body-icons {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin-bottom: 30px;
}

.store-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;

}
.store-links .first-link {
  margin-right: 20px 
  
}

.store-links img {
  height: 46px
}

.footer-nav ul {
color:#6e92b0;
list-style: none;
display: flex;
flex-direction: row;
justify-content: center;
margin: 65px 0px

} 

.footer-nav li {
  padding: 10px;
  font-weight: 800;
  font-size: 0.6em;
}

.copywright {
  color:#b6b8b9;
}

